/* Font Face */
/*
@font-face {
  font-family: 'DessauBold';
  src: url('./fonts/DessauBold.woff2') format('woff2'),
  url('.//fonts/DessauBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
*/

/* Basic Styles Start Here */

html,
body {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

button {
  outline: 0 !important;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 70px;
  font-family: 'Fredericka The Great', Arial;
}

header {
  background: #2c3e50;
  height: 100vh;
  position: relative;
}

header::after {
  content: "";
  background-image: url(/images/pexels-photo.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

h2 {
  font-family: 'Amatic SC', Arial;
  display: inline-block;
  font-size: 40px;
  border-bottom: 2px solid;
  margin: 0;
  padding-bottom: 5px;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  font-size: 40px;
  margin: 20px 0;
  text-align: center;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 28px;
}

h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 22px;
}

section {
  padding: 10vh 0;
}

h3 i {
  margin-right: 20px;
}

/* Default Styles End Here */

/* Navbar Styles Start Here */

.navbar {
  background: none;
  border: none;
  transition: background 0.8s;
}

.navbar-brand {
  font-family: 'Roboto', sans-serif;
  color: #fff !important;
  font-size: 36px;
  font-weight: 700;
  background: rgba(0, 0, 0, 0.2);
}

.navbar-brand:hover {
  background: #dc3626;
}

.navbar-default .navbar-nav li a {
  color: inherit;
  font-family: 'Lato', Arial;
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 10px;
}

.navbar-default .navbar-nav li a:hover {
  color: #FFF;
  transition: color .3s;
}

.navbar-default .navbar-nav li a:focus {
  color: #FFF;
  transition: color .3s;
}

.navbar-toggle {
  background: none!important;
}

/* Navbar Styles End Here */

/* Canvas Start */
canvas {
  position: fixed;
  right: 3%;
  bottom: 3%;
  z-index: 999;
  cursor: pointer;
}
/* Canvas Ends Here */

/* Header Styles Start Here */

.header-content {
  padding-top: 33vh;
  text-align: center;
}

.header-content a {
  color: inherit;
}

.header-content button {
  -moz-animation-delay: 1.75s;
  -webkit-animation-delay: 1.75s;
  animation-delay: 1.75s;
  background: transparent;
  border: 2px solid;
  border-radius: 4px;
  font-weight: 400;
  height: 35px;
  margin-top: 55px;
  outline: none;
  padding: 0 25px;
}

.header-content button:hover {
  background: #dc3626;
}

.social-icons {
  font-size: 30px;
  margin-top: 10px;
}

.social-icons i {
  margin: 0 5px;
}

.social-icons i:hover {
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* Header Styles End Here */

/* About Section Styles Start Here */

.about {
  font-size: 18px;
  font-weight: 400;
}

.tagline {
  text-align: center!important;
}

.about-section {
  background: #000;
  text-align: center;
  box-shadow: inset 0 -15px 30px -20px #000;
}

.about p {
  margin: 20px auto;
  font-weight: 300;
  text-align: justify;
  width: 580px;
}

.profilepic {
  border: 20px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  margin: 65px auto;
}

.about-section button {
  background: none;
  border: 2px solid #FFF;
  border-radius: 4px;
  font-weight: 700;
  height: 35px;
  margin-top: 60px;
  outline: none;
}

.about-section button i {
  margin-right: 5px;
}

/* About Section Styles End Here */

/* Contact Section Styles Start Here */

.contact {
  background: #252525;
  font-family: 'Open Sans', sans-serif;
  padding: 100px;
  text-align: center;
}

.contact a {
  color: #FFF;
  font-size: 1.3em;
  font-weight: 300;
}

.contact a:hover {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}

.contact h3 {
  font-size: 2em;
  font-weight: 400;
  width: 250px;
}

.contact i {
  color: #FFF;
  font-size: 1.6em;
  margin-right: 10px;
}

.contact p {
  margin-left: 30%;
  text-align: left;
}

.contact-content {
  margin: 0 auto;
  width: 280px;
}

/* Contact Section Styles End Here */

/* Creator Section Styles Start Here */

.creator {
  background: #111;
  padding: 5px;
  text-align: center;
}

.creator p {
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}

/* Creator Section Styles End Here */

/* Media Queries */

@media (max-width: 1200px) {
  .about-section div img {
    width: 40%;
  }
  .profilepic {
    margin: auto;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 18px;
  }
  .about-section div img {
    width: 50%;
  }
  .social-icons i {
    margin: 0;
  }
  .navbar-brand {
    height: 56px;
  }
}

@media(max-width: 605px) {
  .about p {
    width: 354px;
  }
  .about-section div img {
    width: 60%;
  }
  section p {
    font-size: 16px;
  }
}

@media(max-width: 525px) {
  h3 {
    font-size: 32px;
  }
  .about-section div img {
    width: 70%;
  }
  .about {
    padding: 0;
  }
  .contact {
    padding: 50px 0;
  }
}

@media (max-width: 320px) {
  .about p {
    width: 280px;
  }
}


/* Fix Landscape on Mobile */

@media screen and (orientation: landscape) and (max-height: 568px) {
  .header-content button {
    display: none;
  }
}
