// fonts
$fonts: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

// colors
$white: #fff;
$black: #333;
$gray: #888;
$gray-light: #E8E8E8;
$gray-lightest: #FAFAFA;
$green: #00AB72;
$blue: #0087F8;
$red: #FF554A;

// root
$root-container-width: 32rem;
$root-font-size: 18px;